<% content_tag_for(:div, user) do %>
  <div class="user_name">
    <%= h user.name %>
  </div>

  <div class='user_photo'>
    <%= image_tag(user.photo.url) %>
  </div>

  <% if user == current_user %>
    <div class='edit_profile_link'>
      <%= link_to "Edit profile", edit_user_path(user) %>
    </div>
  <% end %>
<% end %>

